@font-face {
  font-family: 'Montserrat';
  src: url('./styles/fonts/Montserrat/Montserrat-VariableFont_wght.ttf');
}
@font-face {
  font-family: 'Roboto Regular';
  src: url('./styles/fonts/Roboto/Roboto-Regular.ttf');
}
@font-face {
  font-family: 'Roboto Light';
  src: url('./styles/fonts/Roboto/Roboto-Light.ttf');
}