$button-color: #FF4E50;
$title-color:#444444;
$main-color:#FFFFFF;
$second-color:#999999;
$text-color-black: #000000;
$text-color-white: #E3E3E3;
$form-color: #D4D4D4;
$footer-color: #CCCCCC;
$main-font: 'Montserrat', sans-serif;
$second-font:'Roboto Light', sans-serif;